$main-color: #F80000;

@mixin rc{
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius: 10px; 
}
.unaccepted{
  color:red;
}

header{
	
}

nav {
  width: 800px;
  margin: 0 auto;
  h1 {
  	background: $main-color;
  	a{
      color:green;
      @include rc;
    }
  }

  ul {
    float: right;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 20px;
      a {
        color: $main-color;
      }
    }
  }
}



